<ul class="cats">
  <li [class.selected]="cat === selectedCat" *ngFor="let cat of cats" (click)="onSelect(cat)">
    <div>
      <span class="badge">{{cat.id}}</span>
      <span>{{cat.name}}</span>
      <button class="delete" (click)="delete(cat); $event.stopPropagation()">x</button>
    </div>
  </li>
</ul>
<div *ngIf="selectedCat">
  <h2>
    {{ selectedCat.name | uppercase }} is my cat
  </h2>
  <div>
    <label>Cat name:</label> <input #catName />
    <button (click)="add(catName.value); catName.value=''">Add</button>
  </div>
  <button (click)="gotoDetail()">View Details</button>
</div>